<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDeviceService" />
                <binding name="BasicHttpsBinding_IDeviceService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://provvemachineserviceservice20180711094906.azurewebsites.net/DeviceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeviceService"
                contract="DeviceService.IDeviceService" name="BasicHttpBinding_IDeviceService" />
            <endpoint address="https://provvemachineserviceservice20180711094906.azurewebsites.net/DeviceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IDeviceService"
                contract="DeviceService.IDeviceService" name="BasicHttpsBinding_IDeviceService" />
        </client>
    </system.serviceModel>
</configuration>