<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDeviceService" receiveTimeout="00:30:00"
          maxReceivedMessageSize="100000000" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDeviceService" openTimeout="00:05:00"
          receiveTimeout="00:30:00" maxReceivedMessageSize="100000000" />
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="WsDualHttpBinding_IDeviceService" receiveTimeout="00:30:00"
          maxReceivedMessageSize="100000000" />
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IMaintenanceService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56660/DeviceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeviceService"
        contract="DeviceService.IDeviceService" name="BasicHttpBinding_IDeviceService" />
      <endpoint address="http://localhost:54321" binding="wsDualHttpBinding"
        bindingConfiguration="WsDualHttpBinding_IDeviceService" contract="DeviceService.IDeviceService"
        name="DualHttp" />
      <endpoint address="net.tcp://TRAPPIST:808/DeviceService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDeviceService"
        contract="DeviceService.IDeviceService" name="NetTcpTest" />
      <endpoint address="http://192.168.43.18:12345/" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IMaintenanceService" contract="MaintenanceService.IMaintenanceService"
        name="WSHttpBinding_IMaintenanceService" />
    </client>
  </system.serviceModel>
</configuration>