<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDeviceService"
                 receiveTimeout="00:30:00"
                 openTimeout="00:05:00"
                 maxReceivedMessageSize="100000000" />
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDeviceService"
                 
                 receiveTimeout="00:30:00"
                 maxReceivedMessageSize="100000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56660/DeviceService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeviceService"
          contract="DeviceService.IDeviceService" name="BasicHttpBinding_IDeviceService" />
      <endpoint address="net.tcp://TRAPPIST:808/DeviceService.svc"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDeviceService"
                contract="DeviceService.IDeviceService" name="NetTcpTest" />
    </client>
  </system.serviceModel>
</configuration>